/* public/css/footer.css */

footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    height: auto;
}

.footer-content{
    height: 50px;
}

footer .footer-content ul {
    list-style-type: none;
    padding: 0;
}

footer .footer-content ul li {
    display: inline;
    margin: 0 10px;
}

footer .footer-content ul li a {
    color: white;
    text-decoration: none;
}

footer .footer-content ul li a:hover {
    text-decoration: underline;
}
